*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
ext/ffmpeg_composer/*.o
ext/ffmpeg_composer/*.bundle
ext/ffmpeg_composer/Makefile
ext/ffmpeg_composer/mkmf.log
examples/fixtures/result.mpg
lib/ffmpeg_composer/ffmpeg_composer.bundle